# Environment Setting Up

In [1]:
import os
from dotenv import load_dotenv

# Loading environment variables from .env
load_dotenv()

# Changing directory to main directory for easy data access
working_directory = os.getenv("WORKING_DIRECTORY")
os.chdir(working_directory)

# Checking the change
%pwd

'D:\\Projects\\Stock Screener\\Stock-Screener-Agent'

In [2]:
from pathlib import Path

# Checking the change
print("Git folder exists:", Path(".git").exists())

Git folder exists: True

# 3. Feature Engineering

In [29]:
import pandas as pd

ticker = "AAPL"
load_path = f"artifacts/prices/{ticker}.pkl"
df = pd.read_pickle(load_path)

# Flatten multi-level columns (remove ticker row)
df.columns = df.columns.get_level_values(0)
df.columns = df.columns.str.lower()

df

Price            close        high         low        open    volume
Date
2024-10-25  230.338013  232.139626  228.506540  228.675751  38802300
2024-10-28  232.318787  233.642627  231.472733  232.239171  36087100
2024-10-29  232.587540  233.244486  231.243803  232.020188  35417200
2024-10-30  229.034088  232.388472  228.486633  231.532455  47070900
2024-10-31  224.863480  228.765318  224.325973  228.277583  64370100
...                ...         ...         ...         ...       ...
2025-10-20  262.239990  264.380005  255.630005  255.889999  90483000
2025-10-21  262.769989  265.290009  261.829987  261.880005  46695900
2025-10-22  258.450012  262.850006  255.429993  262.649994  45015300
2025-10-23  259.579987  260.619995  258.010010  259.940002  32754900
2025-10-24  262.820007  264.130005  259.179993  261.190002  38221700

[250 rows x 5 columns]

In [ ]:
import pandas as pd
import ta

def compute_technicals(price_df: pd.DataFrame):
    df = price_df.copy()

    df['sma_20'] = ta.trend.sma_indicator(df['close'], window=20)
    df['ema_50'] = ta.trend.ema_indicator(df['close'], window=50)
    df['rsi_14'] = ta.momentum.rsi(df['close'], window=14)
    df['macd'] = ta.trend.macd_diff(df['close'])
    df['volatility'] = df['close'].pct_change().rolling(20).std() * (252 ** 0.5) # Annualized
    df['year_high'] = max(df['close'])
    df['year_low'] = min(df['close'])
    
    return df.tail(1)  # snapshot of features at on last date

In [35]:
compute_technicals(df)

Price,close,high,low,open,volume,sma_20,ema_50,rsi_14,macd,volatility,year_high,year_low
Date,,,,,,,,,,,,
2025-10-24,262.820007,264.130005,259.179993,261.190002,38221700,255.028499,244.578407,64.187493,0.25567,0.233638,262.820007,171.998993